@media screen and (max-width: 1199px){
	#generateLiknForm .col-sm-5 {
	    width: 70%;
	}
	.col-xs-2 {
	    width: 25%;
	}
}
@media screen and (max-width: 991px){
	.banner-info{
		display: block;
	}
	.banner-info .pic-des{
		margin-bottom: 10px;
		position: relative;
		bottom: 0px;
	}
	.banner-info figure{
		margin: 0px 0px 10px 0px;
	}
	.banner-info pre{
		position: relative;
	}
	#generateLiknForm .col-sm-5 {
	    width: 60%;
	}
	.col-xs-2 {
	    width: 33%;
	}
}
@media screen and (max-width: 767px){
	.left-tabs{
		min-width: 80px;
	}
	.page-footer{
		position: relative;
	}
	#sal-img-size-380-256 {
	    width: auto;
	    height: auto;
	}
	#generateLiknForm .col-sm-5 {
	    width: 100%;
	}
	.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
		float: none;
	}
	.col-xs-2 {
	    width: 100%;
	}
}
@media screen and (max-height: 539px){
	.page-footer{
		position: relative;
	}
	.content{
		margin: 0px 0px 50px 0px;
	}
	.signup-form{
		margin-bottom: 0px;
	}
}