@media screen and (max-width: 1199px){
	#generateLiknForm .col-sm-5 {
	    width: 70%;
	}
	.col-xs-2 {
	    width: 25%;
	}
	.home-page{
		width: 100%;
	}
}
@media screen and (max-width: 991px){
	.banner-info{
		display: block;
	}
	.banner-info .pic-des{
		margin-bottom: 10px;
		position: relative;
		bottom: 0px;
	}
	.banner-info figure{
		margin: 0px 0px 60px 0px;
	}
	/*.banner-info pre{
		position: relative;
	}*/
	#generateLiknForm .col-sm-5 {
	    width: 60%;
	}
	.col-xs-2 {
	    width: 33%;
	}
	.product-albums{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;

		flex-flow: row wrap;
		justify-content: center ;
		align-items: center ;
	}
	.product-albums figure{
		width: auto;
		height: 100%;
		margin: 0px 5px 15px 0px;
	}
	.logo-margin{
		margin-bottom: 10px !important;
	}
}
@media screen and (max-width: 767px){
	.left-tabs{
		min-width: 80px;
	}
	/*.page-footer{
		position: relative;
	}*/
	.sal-img-size-300-250 {
	    width: auto;
	    height: auto;
	}
	#generateLiknForm .col-sm-5 {
	    width: 100%;
	}
	.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
		float: none;
	}
	.col-xs-2 {
	    width: 100%;
	}
	.logo h1 {
		margin: 52px 0px 0px 20px;
		font-size: 36px;
		font-weight: 500;
	}
	.product-albums figure img{
		width: 80%;
		height: 80%;
	}
}
@media screen and (max-width: 639px){
	html{
		min-height: 100%;
		position: relative;
	}
	.product-albums figure img{
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width: 566px){
	.page-footer section .wrap span {
		padding: 0px 2px 0px 10px;
	}
}
@media screen and (max-width: 484px){
	.logo h1 {
		margin: 58px 0px 0px 20px;
		font-size: 30px;
		font-weight: 500;
	}
}
@media screen and (max-width: 477px){
	#modalLabel{
		padding: 56px 0px 0px 0px;
		font-size: 14px;
	}
}
@media screen and (max-width: 447px){
	.logo h1 {
		margin: 62px 0px 0px 20px;
		font-size: 26px;
		font-weight: 500;
	}
}
@media screen and (max-width: 422px){
	.logo h1 {
		display: none;
	}
}
@media screen and (max-width: 407px){
	#modalLabel{
		padding: 35px 0px 0px 0px;
		font-size: 14px;
	}
}
@media screen and (max-width: 337px){
	.page-footer section .wrap{
		font-size: 12px;
	}
}
@media screen and (max-width: 318px){
	#modalLabel{
		display: none;
	}
}