/**
*	Here is for defining custom fonts
*
*/
@font-face {
  font-family: 'Order Light';
  font-style: normal;
  src: url(../fonts/ufonts.com_order_light.eot);
  src: url(../fonts/ufonts.com_order_light.eot?#iefix) format('embedded-opentype'),
  	url(../fonts/ufonts.com_order-light.woff) format('woff'),
  	url(../fonts/ufonts.com_order-light.ttf) format('truetype');
}
@font-face {
  font-family: 'Order';
  font-style: normal;
  src: url(../fonts/ufonts.com_order.eot);
  src: url(../fonts/ufonts.com_order.eot?#iefix) format('embedded-opentype'),
  	url(../fonts/ufonts.com_order.woff) format('woff'),
  	url(../fonts/ufonts.com_order.ttf) format('truetype');
}
@font-face {
  font-family: 'Order Bold';
  font-style: normal;
  src: url(../fonts/ufonts.com_order_bold.eot);
  src: url(../fonts/ufonts.com_order_bold.eot?#iefix) format('embedded-opentype'),
  	url(../fonts/ufonts.com_order-bold.woff) format('woff'),
  	url(../fonts/ufonts.com_order-bold.ttf) format('truetype');
}

/**
*	==============================================================================
*/
html{
	height: 100%;
}
body{
	min-height: 100%;
	position: relative;
	background-color: #ffffff;
}
.container{
	background-color: #fff;
	box-shadow: -7px 3px 12px 0px #5E5A56, 7px 3px 12px -3px;
	position: relative;
}
/*.container .body{
	height: 100%;
	position: absolute;
}*/
.page-footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	margin-bottom: 0px;
	background-color: #556 !important;
}
.page-footer .container{
	background-color: #556 !important;
}
.page-footer section.container{
	border-top: 1px solid #A0A0A0;
}
.page-footer section .wrap{
	margin: 0 auto;
}
.page-footer section label, .page-footer section label a{
	color: #ddd !important;
}
.page-footer section .wrap span{
	padding: 20px 2px 20px 20px;
}
.page-footer section .wrap span:first-child{
	padding-left: 0px;
}
.left-tabpanel{
	display: -webkit-flex;
	display: flex;
	margin-bottom: 100px; 
}
.top-tabpanel{
	margin-bottom: 100px; 
}
.left-tabs{
	min-width: 150px;
	width: auto;
	border-right: 1px solid #DDD;
}
.left-tabs > li{
	float: none;
	clear: both;
	border-width: 1px;
	border-color: #DDD #DDD;
	margin-right: -3px;
	margin-bottom: 1px;
	
}
.left-tabs > li > a{
	border-radius: 4px 0px 0px 4px;
}
.navbar-header .active{
	color: #555;
	background-color: #E7E7E7;
	margin: 0px;
}
.navbar-default .navbar-nav > .active > p{
	color: #555;
	background-color: #E7E7E7;
	margin: 0px;
}
.navbar-text {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-text {
    padding-top: 15px;
    padding-bottom: 15px;
}

.left-tabs > li.active > a,
.left-tabs > li.active > a:focus,
.left-tabs > li.active > a:hover {
	color: #555;
	cursor: default;
	background-color: #FFF;
	border-width: 1px;
	border-style: solid none solid solid ;
	border-color: #DDD transparent #ddd #ddd;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	box-shadow: -2px 2px 2px #CCC;
}
.right-tab-content{
	border-style: solid solid solid none;
	border-width: 1px;
	border-color: #ccc;
	width: 100%;
	margin-top: 1px;
	border-radius: 0px 5px 5px 0px;
}
.right-tab-content > .tab-pane{
	padding: 20px;
}
.right-tab-content .tab-content dl.description{
	margin: 50px 0px 0px 0px;
}
.nav-tabs.left-tabs{
	border-bottom: none;
}
.big-header{
	border-bottom: 1px solid #ddd;
}
.big-header .logo{
	display: -webkit-flex;
	display: flex;
	margin-bottom: 10px; 
}
.logo{
	display: inline-block;
}
.logo h1{
	margin: 45px 0px 0px 20px;
	font-size: 40px;
	font-weight: 600;
}
.logo img{
	padding: 15px 0px 0px 0px;
}
.logo a{
	color: #202020;
	display: inline-block;
}
.logo a:hover{
	color:#23527c;
	text-decoration:underline
}
.logo h2{
	font-family: 'Order Bold', sans-serif;
	font-weight: 600 !important;
	font-size: 36px;
	margin-top: 5px;
}
.logo .logo-aside{
	display: -webkit-flex;
	display: flex;
	margin: -5px 0px 0px;
}
.logo .logo-aside p{
	font-family: 'Order', sans-serif;
	font-weight: 400 !important;
	font-size: 28px;
	margin: -10px 0px 0px 0px;
	letter-spacing: 2px;
}
.logo .logo-aside img{
	margin: -10px 0px 10px 20px;
	padding: 0px;
}
.page-header{
	border-bottom: 1px solid #EEE;
	margin: 30px 0px 20px;
	padding-bottom: 0px;
}
.description dt{
	font-size: 20px;
}
.description dd{
	font-size: 16px;
}
.banner-info{
	display: -webkit-flex;
	display: flex;
	margin: 40px 20px 0px 10px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.banner-info .pic-des{
	font-size: 20px;
	font-weight: 600;
	height: 22px;
	width: 100px;
	position: absolute;
	bottom: 70px;
}
.banner-info figure{
	margin: 0px 0px 70px 150px;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	border-color: #000;
}
.banner-info img{
	width: 100%;
	height: 100%;
}
.banner-info pre{
	display: -webkit-flex;
	display: flex;
	height: 48px;
	position: absolute;
	bottom: 0px;
	left: 160px;
	right: 0px;
	word-wrap: normal;
	overflow-y: hidden;
	padding: 5px;
}
.banner-info pre.link{
	width: 155px;
	left: 0px;
	margin-right: 10px;
}
.text-danger{
	color: #A94442 !important;
	border-color: #A94442 #A94442 #A94442 #A94442;
}
.sub-header{
	display: -webkit-flex;
	display: flex;
}
#modalLabel{
	padding: 50px 0px 0px 15px;
}
.content{
	margin: 0px 0px 100px 0px;
}
.content .title{
	margin: 0 auto;
	position: relative;
	width: 309px;
	height: 66px;
}
.content .title h5{
	right: 0px;
	position: absolute;
	margin: -5px 0px 0px 0px;
}
.content .paragraph{
	margin: 20px 0px;
}
.content .paragraph address{
	width: 450px;
	margin: 10px auto;
}
.signup-form{
	margin-bottom: 60px;
}
.signup-form .modal-dialog{
	margin: 0px;
}
#requiredCBID{
	color: #D9534F;
	font-size: 10px;
}
.form-size{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 15px 0px 0px 0px;
}
.hidden{
	display: none;
}
.form-btn-control{
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	margin: 0px 0px 0px 0px;
}
.col-xs-2{
	width: 20%;
}
.my-alert{
	padding: 0px 0px 0px 10px;
	margin-bottom: 0px;
}
.content h4{
	margin: 15px 0px 5px 0px;
}
.container em{
	font-weight: 600;
	font-style: normal;
}
em.red{
	color: #FA3031;
}
#generatedLink{
	cursor: text;
}
.description .logo img{
	width: 100%;
}
.description dt{
	margin: 10px 0px 15px 0px;
}
.description dd{
	margin: 5px 0px 15px 0px;
}
.description dt img{
	margin: 0px 0px 15px 0px;
}
.template{
	display: -webkit-flex;
	display: flex;
}
.home-page{
	width: 75%;
	margin-left: 78px;
}
.product-albums{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.product-albums figure{
	width: 250px;
	height: 200px;
	margin: 0px 20px 15px 0px;
}
.product-albums figure img{
	width: auto;
	height: auto;
}
.panel-heading{
	padding: 1px 15px;
}
.panel-group .panel {
    margin-top: 10px;
}
/*
*============================== style color rewrite =====================
*/
body{
	background-color: #dddddd;
}
.navbar-default .navbar-brand{
	color: #fff;
}
.navbar-default{
	background-color: #52B9E9;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > p,
.navbar-header .active{
	color: #52B9E9;
	background-color: #fff !important;
}
.navbar-default .navbar-brand:hover{
	color: #fff !important;
	background-color: #43C83C !important;
	text-decoration: underline;
}
.btn-default {
    color: #fff;
    background-color: #1171A3;
    border-color: #1E5D7F;
}
.btn.focus,.btn:focus,.btn:hover{
	color: #fff;
	background-color: #43C83C;
	text-decoration: none;
}
.page-header{
	border-bottom-color: #D9534F;
}
.page-footer {
    background-color: #52B9E9 !important;
}
.page-footer .container {
    background-color: #52B9E9 !important;
}
.page-footer section label a{
	color: #ffffff !important;
	padding: 18px 0px 18px 0px;
}
.page-footer section .wrap span{
	color: #ffffff;
}
.page-footer section label a:hover,
.navbar-default .navbar-nav > li > a:hover,
.right-tab-content .nav-tabs > li > a:hover{
	color: #fff !important;
	background-color: #43C83C;
	text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a:hover{
	color: #43C83C !important;
	text-decoration: underline;
}
.left-tabs > li > a:hover{
	text-decoration: underline;
	background-color: #43C83C;
	color: #fff;
}
.left-tabs > li.active > a,
.left-tabs > li.active > a:focus,
.left-tabs > li.active > a:hover{
	box-shadow: -2px 2px 2px #333;
	text-decoration: none;
	background: none repeat scroll 0% 0% #fff !important;
	color: #52B9E9 !important;
}
.left-tabs > li > a{
	background: none repeat scroll 0% 0% #52B9E9;
	color: #fff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #ddd;
}
.right-tab-content{
	border-color: #fff #932AB6 #932AB6 #fff;
	box-shadow: 3px 5px 5px -2px #333;
}
 .right-tab-content .nav-tabs > li > a{
 	background: none repeat scroll 0% 0% #52B9E9;
	color: #fff;
	border-bottom: 1px solid #52B9E9;
	border-top: 1px solid #ddd;
 }
.right-tab-content .nav-tabs > li.active > a,
.right-tab-content .nav-tabs > li.active > a:focus,
.right-tab-content .nav-tabs > li.active > a:hover{
	box-shadow: -4px -3px 3px 0px #95AEC6, 4px -3px 3px 0px #95AEC6;
	text-decoration: none;
	background: none repeat scroll 0% 0% #fff !important;
	color: #52B9E9 !important;
	margin-top: 1px;
	border-bottom: none;
}
.panel-default > .panel-heading{
	background: none repeat scroll 0% 0% #52B9E9;
}
.panel-default > .panel-heading a[data-toggle="collapse"]{
	color: #fff;
	display: block;
}
/*
*====================D9A1EB==================================================
*/
/*====================== dynamic style by scrolling window ========*/
.fixed-cbTab{
	position: fixed;
	top: 52px;
	z-index: 1;
}
.fixed-cbTab-right-tab-content{
	margin: 0px 0px 0px 149px !important;
	border-left: 1px solid rgb(221, 221, 221);
	position: relative;
}
.logo-margin{
	margin-bottom: 82px !important;
}
/*================== end dynamic style by scrolling window ========*/
/*====================== dynamic style by resize window ========*/
.survival-frog-article{
	position: relative;
}
.banner-info-resize figure{
	width: auto;
	height: auto;
	margin: 0px 0px 70px 0px !important;
}
.banner-info-resize figure img{
	width: 100%;
	height: 100%;
}
/*================== end dynamic style by resize window ========*/
/*====================== banner images ============================*/
.sal-img-size-300-250{
	width: 300px;
	height: 250px;
}
/*================== end banner images ============================*/